@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url(./data/images/space.jpg);
  min-height: 110vh;
  background-size: cover;
  background-position: 50%;
}

@keyframes custom-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-animation {
  animation: custom-spin 3s linear infinite;
}
